
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- START - MetaTags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="fa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultiLanguage project</title>
    <!-- END - MetaTags -->
    <!-- START - stylesheets -->
    <link href="~/panel/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/panel/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/panel/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/panel/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/css/customStyle.css" rel="stylesheet" />
  
    <link href="~/lib/MdPersiandatetimepicker/css/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
    <!--jstree css-->
    <link href="~/lib/jstree/dist/themes/default/style.css" rel="stylesheet" />
</head>

<body class="navbar-top">
    <!-- START - Main Navibar -->
    <partial name="_navbarPartial" />
    <!-- END - Main Navibar -->
    <!-- START - Main Content -->
    <div class="page-container">

        <!-- START - Page Content -->
        <div class="page-content">

            <!-- START - Main Sidebar -->
            <partial name="_SidebarPartial" />

            <!-- START - Main Content -->
            <div class="content-wrapper">

                <div class="content">

                    <!-- START - View Content -->
                    <div class="row">
                        @RenderBody()
                    </div>
                    <!-- END - View Content -->


                </div>
                <!-- /content area -->
            </div>
            <!-- END - Main Content -->

        </div>
        <!-- END - Page Content -->

    </div>
    <!-- END - Main Content -->
    <!--Top Loading-->
    <script type="text/javascript" src="~/panel/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/panel/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/panel/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/panel/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/panel/assets/js/core/app.js"></script>
    <script src="~/lib/MdPersiandatetimepicker/js/calendar.min.js"></script>
    <script src="~/lib/MdPersiandatetimepicker/js/jquery.Bootstrap-PersianDateTimePicker.min.js"></script>
    <script src="~/lib/jstree/dist/jstree.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
      @await Component.InvokeAsync("Notyf") 
    @RenderSection("AdminScripts", required: false)

</body>

</html>
