<div class="sidebar sidebar-main" style="background-color:#d4d1d1;">
    <div class="sidebar-content">

        <!-- START - User menu -->
      
        <!-- END - User menu -->
        <!-- START - Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">

                <!-- START - Item Navigation -->
                <ul class="navigation navigation-main" style="color:black;">

                    <!-- START - Item Navigation Header -->
                    <li class="navigation-header">
                        <span> داشبورد اختصاصی کاربران</span> <i class="icon-menu"
                                                                 title="صفحه اصلی"></i>
                    </li>

                    <li>
                        <a asp-controller="UserManager" asp-action="Index"><i class="icon-users"></i><span>مدیریت کاربران</span></a>
                    </li>
                    <li>
                        <a asp-controller="JobsChart" asp-action="Index"><i class="icon-office"></i><span>مشاغل</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-traffic-cone"></i><span>کنترل ورود و خروج</span></a>
                    </li>
                    <li>
                        <a asp-controller="UserJobManager" asp-action="Index"><i class="icon-office"></i><span>انتساب شغل</span></a>
                    </li>
                    <li>
                        <a asp-controller="News" asp-action="Index"><i class="icon-newspaper"></i><span>  اخبار و اطلاعیه ها </span></a>
                    </li>
                    <li>
                        <a asp-controller="AdministrativeForm" asp-action="Index"><i class="icon-forward3"></i><span>فرم های اداری</span></a>
                    </li>
                    <li>
                        <a asp-controller="Reminder" asp-action="Index"><i class="icon-reminder"></i><span>ثبت یادآوری</span></a>
                    </li>
                    <li>
                        <a asp-controller="SystemPart" asp-action="Index"><i class="icon-sync"></i><span>اجزای سیستم</span></a>
                    </li>
                    <li>
                        <a asp-controller="AccessRight" asp-action="Index"><i class="icon-accessibility"></i><span>کنترل دسترسی ها</span></a>
                    </li>
                    <li>
                        <a asp-controller="RolePattern" asp-action="Index"><i class="icon-accessibility2"></i><span>نقش های کاربری  </span></a>
                    </li>
                </ul>
                <!-- END - Item Navigation -->

            </div>
        </div>
        <!-- END - Main navigation -->

    </div>
</div>